<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="polinema.ac.id.utsbca">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_bcaa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_bcaa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polinema.ac.id.utsbca.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SuccesloginActivity"
            android:label="@string/title_activity_succeslogin"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polinema.ac.id.utsbca.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.KlikbcaActivity"
            android:label="@string/title_activity_klikbca"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polinema.ac.id.utsbca.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MbcaActivity"
            android:label="@string/title_activity_mbca"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polinema.ac.id.utsbca.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SakukuActivity"
            android:label="@string/title_activity_sakuku"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polinema.ac.id.utsbca.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.Antar_BankActivity"
            android:label="@string/title_activity_antar__bank"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polinema.ac.id.utsbca.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.Antar_RekeningActivity"
            android:label="@string/title_activity_antar__rekening"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polinema.ac.id.utsbca.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>